body{
    text-align: center;
    background-color: aquamarine;
    background-image: url('image/vi.jpeg');
}

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.container{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 38%;
    background: whitesmoke;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
}

.container h2{
    color: black;
    font-weight: 500;
}